.App-grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .App-item img{
    display: block;
    width: 100%;
    
  }
  